body {
	background: #232526;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: white;
	text-align: center;
	font-family: Sommet;
	font-size: 24px;
	margin: 0;
}

h1{
border-style: solid;
border-width: 10px;
border-color: white;
padding: 1%;
width: 70%;
height: 10%;
margin:auto;
}

p{
	font-size: 18px;
}

footer {
	position:fixed;
	bottom:0;
	font-size: 30px;
	padding: 1%;
}	

.container{
	width: 80%;
	margin: 0 auto;
}

header{
	background: #87BEEA;
}	

header::after {
	content: '';
	display: table;
	clear: both;
}

.logo {
	float: left;
	width: 40%;
}

nav{
	float: right;
}

nav u1 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

nav li {
	display: inline-block;
	margin-left: 70px;
	padding-top: 40px;
}

nav a {
	color: black;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 30px;
	float: left;
}

nav a:hover {
	color: #000;
}

nav a::before {
	content: '';
	display: block;
	height: 5px;
	background-color: black;

	position: center;
	top: 0;
	width: 0%;

	transition: all ease-in-out 100ms;
}

nav a:hover::before {
	width: 100%;
}

/* Dropdown Button */
.dropbtn {
    background-color: #87BEEA;
    color: black;
    font-family : Sommet;
    font-size: 30px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

